* {
  font-family: 'Dancing Script', cursive;
}

html {
    background-color: #00539F;
  }
  

body {
    width: 800px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
h1,p,a {
  color: rgb(212, 73, 143);
  width: 800px;
  border: 5px solid rgb(68, 147, 190);
  font-size: 60px;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
  }
  